html, body {
    height: 100%; 
    width: 100%;
    margin: 0;
}

body{
    font-family: "sans-serif";
    font-size: 0.8em;
    background-color:#ffffff;
    overflow: hidden;
}

#banner{
    height: 10%;
    width: 100%;
    background-color: #ffffff;
}

#banner div{
    position: relative;
    top: -15px;
    left: 10px;
    display:inline;
    font-size: 2.0em;
}

#banner #title{
    font-size: 1.0em;
}
#banner #feedback{
    font-size: 0.7em;
    color: #cccccc;
}

#header{
    background-color:#cccccc;
    height: 5%;
    width: 100%;
}

#header .item{
    position: relative;
    float: left;
    height: 70%;
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

img{
    position: relative;
    height: 70%;
    padding: 1em;
}

.item select, .item input{
    width: 8em;
}

.item .textfield{
    width: 6em;
}

#resultToggle{
    position: relative;
    top: -20px;
    width: 8em;
    height: 40%;
    margin-left: 1em;
}

#ajaxIndicator{
    position: absolute;
    height: auto;
    width: 5%;
    top: 40%;
    left: 47.5%;
}

/*
********** Style of the query field **********
*/

#query{
    display: block;
    height: 40%;
    width: 100%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position:center;
}

/*
********** Styles for the result field **********
*/
#result{
    position: absolute;
    display: block;
    bottom: 0px;
    height: 22em;
    width: 100%;
    overflow: auto;
    border-width: 0px;
    border-color: #cccccc;
    border-style: solid;
    border-top-width: 1px;
    background-color: #ffffff;
}

#result .result{
    margin-top: 2px;
    padding: 3px;
    background-color: #efefef;
}

#result .result .content{
    display: block;
    position: relative;
    margin-top:2px;
    margin-bottom:2px;
}

/*
********** Styles for the info suggestions (getting the posible values of the box) **********
*/

.suggestionColumn{
    position: absolute;
    width: 200px;
    height: 20em;
    /*overflow: hidden;*/
    margin-top: 10px;
    margin-right:10px;
}

.suggestion {
    z-index: 4;
    height: 1em;
    width: auto;
    background-color: #FAFACA;
}

.suggestion .value{
    width: auto;
    display: inline;
    margin-left: 3px;
    overflow: hidden;
}

.suggestion .count{
    width: 4em;
    display: inline;
}


/*
********** Styles related to the boxes themself **********
*/
.box{
    background-color: #FAFACA;
    position: absolute; 
    border:1px solid black;
    text-align:center;
    min-height: 1.2em;
    min-width: 1.2em;
    z-index: 2;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.box input{
    position: relative;
    width: 80%;
    height:20px;
}

.box:hover{
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.9);
}

.box .left, .box .top, .box .bottom, .box .right{
    position: absolute;
    height: 5px;
    width: 5px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #FFFFAB;
    font-size: 0.75em;
}

.box .left:hover, .box .top:hover, .box .bottom:hover, .box .right:hover{
    background-color: #F7F7DC;
}

.box .left{
    left: -17px;
    top: 12.5%;
    height: 75%;
    min-height: 4em;
    width: 5px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1em;
}
.box .top{
    top: -17px;
    left: 25%;
    width: 50%;
    min-width: 15px;
    height: 15px;
}
.box .right{
    right: -17px;
    top: 12.5%;
    height: 75%;
    min-height: 4em;
    width: 5px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1.1em;
}
.box .bottom{
    bottom: -17px;
    left:  25%;
    width: 50%;
    min-width: 15px;
    height: 15px;
}


/*
********** Styles for the arrows between the boxes **********
*/
.arrow{
    position: absolute;
    border: 0px solid black;
    z-index: 1;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.innerArrowLeft{
    float:left;
    width: 50%;
    height: 100%;
    border: 0px solid black;
}

.innerArrowRight{
    float: left;
    width: 49%;
    height: 100%;
    border: 0px solid black;
}

.arrowContent{
    position: absolute;
    height: auto;
    width: 40%;
    max-width: 200px;
    text-align: center;
    top: -20px;
    font-size: 20px;
}

.arrowContent input{
    width: 100%;
    font-size: 12px;
}

/*
********** Styles for the suggestionmenu for relator values  **********
*/
#suggestionList{
    position: absolute;
    border:  1px solid black;
    background-color: #cccccc;
    min-width: 150px;
    min-height: 50px;
    width: auto;
    height: auto;
    max-height: 300px;
    max-width: 500px;
    overflow-y: scroll;
    z-index: 3; 
}

#suggestionList ul{
    position: relative;
    width: auto;
    margin-right: 5px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-padding-start: 0px;
    user-select: none;
}

#suggestionList .suggestion{
    list-style: none;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
}

#suggestionList .suggestion:hover{
    background-color: #eeeeee;
}

#suggestionList .suggestion .count, #suggestionList .suggestion .value{
    display: inline-block;
}

#suggestionList .suggestion .count{
    width: 50px;
}

#suggestionList .suggestion .value{
    width: auto;
}
