html, body {
    height: 100%; 
    width: 100%;
    margin: 0;
}

body{
    font-family: "sans-serif";
    font-size: 0.8em;
    background-color:#ffffff;
    overflow: hidden;
}

#banner{
    height: 10%;
    width: 100%;
    background-color: #ffffff;
}

#banner div{
    position: relative;
    top: -15px;
    left: 10px;
    display:inline;
    font-size: 2.0em;
}

#banner #title{
    font-size: 1.0em;
}
#banner #feedback{
    font-size: 0.7em;
    color: #cccccc;
}

#header{
    background-color:#cccccc;
    height: 5%;
    width: 100%;
}

#header .item{
    position: relative;
    float: left;
    height: 70%;
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

img{
    position: relative;
    height: 70%;
    padding: 1em;
}

.item select, .item input{
    width: 8em;
}

.item .textfield{
    width: 6em;
}

#resultToggle{
    float: right;
    width: 8em;
    height: 70%;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#query{
    display: block;
    height: 40%;
    width: 100%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position:center;
}


.tab{
    float: left;
    padding: 5px;

    background-color: #DEDEDE;
    border-width: 1px;
    border-color: #cccccc;
    border-style: solid;

    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tab:hover{
    border-bottom-color: #000000;
    cursor: pointer;
}

.tab.active{
    background-color: #ffffff;
}


#result, #suggestions, #options{
    display: block;
    height: 45%;
    width: 100%;
    overflow: auto;
    border-width: 0px;
    border-color: #cccccc;
    border-style: solid;
    border-top-width: 0.5em;
    background-color: #ffffff;
}

#result .result{
    margin-top: 10px;
    padding: 5px;
    background-color: #efefef;
}

#result .content{
    display: block;
    position: relative;
    margin-top:2px;
    margin-bottom:2px;
}

#result .triple{
    display: inline;
    margin-left: 10px;
    background-color: #fafafa;
}

#ajaxIndicator{
    position: absolute;
    height: auto;
    width: 5%;
    top: 40%;
    left: 47.5%;
}

#suggestions{

}
#options{

}

.box{
    background-color: #efefef;
    position: absolute;
    border:1px solid black;
    text-align:center;
    z-index: 2;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.box input{
    position: relative;
    width: 80%;
    height:20px;
}

.box:hover{
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.9);
}

.box .left, .box .top, .box .bottom, .box .right{
    position: absolute;
    height: 5px;
    width: 5px;
    border: 1px solid black;
    cursor: pointer;
}
.box .left{
    left: -17px;
    top: 25%;
    height: 50%;
    min-height: 15px;
    width: 15px;
    background-color: #97B3E8;
}
.box .top{
    top: -17px;
    left: 25%;
    width: 50%;
    min-width: 15px;
    height: 15px;
    background-color: #6B98ED;
}
.box .right{
    right: -17px;
    top: 25%;
    height: 50%;
    min-height: 15px;
    width: 15px;
    background-color: #97B3E8;
}
.box .bottom{
    bottom: -17px;
    left:  25%;
    width: 50%;
    min-width: 15px;
    height: 15px;
    background-color: #CAD5EB;
}

.draggable{
    border-style: none;
}

.arrow{
    position: absolute;
    border: 0px solid black;
    z-index: 1;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.innerArrowLeft{
    float:left;
    width: 50%;
    height: 100%;
    border: 0px solid black;
}

.innerArrowRight{
    float: left;
    width: 49%;
    height: 100%;
    border: 0px solid black;
}

.arrowContent{
    position: absolute;
    height: auto;
    width: 40%;
    max-width: 200px;
    text-align: center;
    top: -20px;
    font-size: 20px;
}

.arrowContent input{
    width: 100%;
    font-size: 12px;
}

#suggestionList{
    position: absolute;
    border:  1px solid black;
    background-color: #cccccc;
    min-width: 150px;
    min-height: 50px;
    width: auto;
    height: auto;
    max-height: 300px;
    max-width: 500px;
    overflow-y: scroll;
    z-index: 3; 
}

#suggestionList ul{
    position: relative;
    width: auto;
    margin-right: 5px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-padding-start: 0px;
    user-select: none;
}

#suggestionList .suggestion{
    list-style: none;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
}

#suggestionList .suggestion:hover{
    background-color: #eeeeee;
}

#suggestionList .suggestion .count, #suggestionList .suggestion .value{
    display: inline-block;
}

#suggestionList .suggestion .count{
    width: 50px;
}

#suggestionList .suggestion .value{
    width: auto;
}

#footer{
    background-color: #cccccc;
    height: 50px;
    width: 100%;
}

#footer .item{
    float: left;
    height: 40px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}